<app-header></app-header>

<!-- About Company Section -->
<section class="about-company-section  padding-top-bottom background-pink" id="about-company-section">
  <div class="about-company-slider-section ">
      <div class="container">
          <!-- About Company Slider -->

          <div class="about-company-slider swiper-container">

              <div class="about-company-slide">
                  <div class="row">
                      <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2">
                          <div class="about-slider-image-section clearfix position-relative">
                              <div class="about-slider-images-section-inner wow fadeInLeft" data-wow-delay="350ms">
                                  <img src="assets/images/into.jpg" data-slide="animated" data-animate="zoomIn">
                              </div>
                              <div class="about-img-gradient-box gradient-bg-red" data-slide="animated" data-animate="zoomIn"></div>
                          </div>
                      </div>
                      <div class="col-lg-6 vertical-align-about-caption">
                          <div class="about-slider-img-detail" data-slide="animated" data-animate="fadeInRight">

                              <h2 class="fontface-one text-color-dark padding-bottom-35 text-transform paragraph-34 letter-spacing ">Banao.app Aap</h2>
                              <p class="text-color-dark paragraph-15 padding-bottom-25 text-color-darkgrey">
                                  Your product could be unique but the market is too congested to allow it to the consumers’ list. You need a dynamic marketing approach and direct access to consumers. That’s what Banao.App does for you; it’s the ultimate app creator. </p>
                              <p class="paragraph-15 padding-bottom-35 text-color-dark">
                                  Mobile applications have been a trendsetter and have been redefining marketing like never before. Banao.App is your one-stop-solution for creating your own app, for boosting business or brand establishment and management. You can now have two versions
                                  of the app – the basic and the enterprise. </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-pagination d-none d-sm-none d-md-none d-lg-block"></div>
          </div>
      </div>
  </div>
</section>

<!-- /Team Section End -->

<!-- Blog Section Start -->
<section class="blog-section background-white " id="blog-section">
  <div class="blog-picture">
      <img src="assets/images/blog-images-1.jpg" alt="blog-picture" class="width-100">
  </div>
  <div class="container">
      <div class="blog-inner-detail position-relative padding-top-bottom">
          <div class="row">
              <div class="col-lg-5 col-md-6">
                  <div class="blog-inner-detail vertical-align-about-caption text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
                      <div class="blog-detail-text">
                          <h2 class="fontface-one text-color-dark text-transform paragraph-34 letter-spacing padding-bottom-20"> Celebrated Traits

                          </h2>

                          <p class=" fontface-two padding-bottom-15">
                              It’s a one-of-a-kind mobile application that is equipped to alter the fate of businesses across different verticals and even successfully realize your purpose. Let’s have a glimpse at its features.
                          </p>
                          <ul class="list-tick padding-bottom-10 text-color-darkgrey">
                              <li>Listed on Android and Apple App stores</li>
                              <li> Integrated payment gateway for credit card/ debit card/ net banking payment/ Paytm Wallet payment. </li>
                              <li> Live chat with the customer. </li>
                              <li> Provision for uploading business images</li>
                              <li> Unlimited product listings.</li>

                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="blog-section background-pink">
  <div class="blog-picture left">
      <img src="assets/images/blog-images-2.jpg" alt="blog-picture" class="width-100">
  </div>
  <div class="container">
      <div class="blog-inner-detail position-relative padding-top-bottom wow fadeInRight" data-wow-delay="350ms">
          <div class="row">
              <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6">
                  <div class="blog-inner-detail vertical-align-about-caption ">
                      <div class="blog-detail-text">


                          <ul class="list-tick padding-bottom-10 text-color-darkgrey">
                              <li> Option to display actual and discounted prices</li>
                              <li> Instant new order notifications </li>
                              <li> Order completion notification to the customer and the owner. </li>
                              <li> Scope to share app link on WhatsApp and through message</li>
                              <li> User-friendly interface</li>
                              <li> Guided app creation steps</li>
                              <li> Holds a cluster of created apps</li>
                          </ul>
                          <p>When you opt for the app creator, you can also get a website at a nominal cost. Thus, your business can get geared for the most ambitious target you have thought of; after all, you are empowered with a super app and
                              a communicating website! </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Section End -->