<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-full-white-bg round">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/images/logo.png" alt="logo" class="logo-default">
        <img src="assets/images/logo-dark.png" alt="logo" class="logo-after-scroll">
      </a>

      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse d-sm-0 d-md-0">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a pageScroll class="nav-link active scroll" href="#main-slider-section">Soft board</a>
          </li> -->
          <li class="nav-item">
            <a pageScroll class="nav-link scroll" href="#about-company-section">Home </a>
          </li>
          <li class="nav-item">
            <a pageScroll class="nav-link scroll" href="#price">Your expense</a>
          </li>

          <li class="nav-item">
            <a pageScroll class="nav-link scroll" [routerLink]="['/franchise-club']">Franchise club </a>
          </li>

          <li class="nav-item">
            <a pageScroll class="nav-link scroll" href="#contact-form-section">Tell us </a>
          </li>
          <li class="nav-item">
            <a class="background-secondary log-round" href="javascript:void(0)" (click)="openLogin()" *ngIf="!isLoggedin">Login</a>
            <span class="text-name" *ngIf="isLoggedin">Hi. {{user_name}}</span>
          </li>

        </ul>
      </div>
    </div>


    <!--side menu open button-->
    <div id="menu_bars" mat-button [matMenuTriggerFor]="menu" class="full" *ngIf="isLoggedin">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="[user_group == '' ? '/dashboard' : '/dashboard/franchise-user']">Dashboard</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>

</header>
