<loading [state]="loading">
  <app-site-header></app-site-header>
  <div class="clearfix"></div>
  <div class="background-pink">
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
      <mat-step [stepControl]="stepOne" class="contact-form row">
        <form [formGroup]="stepOne">
          <div class="container">
            <div class="row">
              <div class="col-md-6 padding-top-50">
                <section class="get-in-touch">

                  <div class="contact-form row">
                    <div class="form-field col col-md-12">
                      <mat-form-field class="input-full-width">
                        <mat-icon matPrefix>card_travel</mat-icon>
                        <input class="form-control" matInput placeholder="Name Of Your Business" formControlName="business_name" [(ngModel)]="step_one_data.business_name"
                          (keyup)=checkBusinessName() (keydown)=checkBusinessName()>
                        <mat-error *ngIf="isFieldValid(stepOne,'business_name')"> Please Enter Business Name</mat-error>

                      </mat-form-field>

                      <p class="btn-switch">
                        <mat-slide-toggle [checked]="haveBusinessName"></mat-slide-toggle>
                      </p>
                    </div>
                    <div class="form-field col col-md-12">
                      <mat-form-field class="input-full-width">
                        <mat-icon matPrefix>info</mat-icon>
                        <input matInput placeholder="Description Of Your Business" formControlName="business_description" [(ngModel)]="step_one_data.business_description"
                          (keyup)=checkBusinessDescription() (keydown)=checkBusinessDescription()>
                      </mat-form-field>

                      <p class="btn-switch">
                        <mat-slide-toggle [checked]="haveBusinessDescription"></mat-slide-toggle>
                      </p>
                    </div>

                    <div class="form-field col-md-6">
                      <div class="upload-filed">
                        <input type="file" name="logo" formControlName="logo" (change)="appLogoChange($event.target.files)" accept="image/*">
                        <p class="btn-switch">
                          <mat-slide-toggle [checked]="haveBusinessLogo"></mat-slide-toggle>
                        </p>
                      </div>
                    </div>

                    <div class="form-field col-md-6">
                      <div class="upload-filed  business-photo">

                        <input type="file" name="business_photos" formControlName="business_photos" (change)="businessPhotoChange($event)" accept="image/*"
                          multiple>
                        <p class="btn-switch">
                          <mat-slide-toggle [checked]="haveBusinessImage"></mat-slide-toggle>
                        </p>
                      </div>
                    </div>
                    <div class="form-field col-md-12">
                      <div class="row">

                        <div class="form-field align-center col-md-5">
                          <button class="round-g-btn" (click)="submitStepOne()">Next</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-md-6">
                <div class="col-md-12 get-in-touch  padding-top-bottom-10">
                  <div class="container">
                    <h1 class="title fontface-one text-color-darkgrey-b letter-spacing">
                      Edit your app
                    </h1>
                  </div>
                </div>

                <div class="mob">
                  <div class="wallpaper-size resturent-screen apps-design padding-10 text-center ">
                    <img [src]="step_one_data.logo ?step_one_data.logo : 'assets/images/resturent-logo.png'" alt="" alt="">
                    <h1>{{step_one_data.business_name}}</h1>
                    <div class="description ">

                      <p>{{step_one_data.business_description}}</p>
                    </div>
                    <div class="sub-image" *ngIf="step_one_data.business_photos.length > 0">
                      <ul>
                        <li *ngFor="let img of step_one_data.business_photos">
                          <img [src]="img" alt="">
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="stepThree">
        <form [formGroup]="stepThree" class="contact-form row">
          <div class="container">
            <div class="row">
              <div class="col-md-6 padding-top-50">
                <section class="get-in-touch full_width">


                  <div class="form-field col col-md-12">
                    <mat-form-field class="input-full-width">
                      <mat-icon matPrefix>perm_identity</mat-icon>
                      <input matInput placeholder="Owner Name" formControlName="owner_name" [(ngModel)]="setp_three_data.owner_name">
                      <mat-error *ngIf="isFieldValid(stepThree,'owner_name')"> Please Enter Owner Name</mat-error>
                    </mat-form-field>
                    <p class="btn-switch">
                      <mat-slide-toggle [checked]="haveOwnerName"></mat-slide-toggle>
                    </p>
                  </div>
                  <div class="form-field col col-md-12">
                    <!-- <mat-form-field class="input-full-width">
                                        <mat-icon matPrefix>perm_identity</mat-icon>
                                        <input matInput placeholder="Owner Designation" formControlName="owner_designation" [(ngModel)]="setp_three_data.owner_designation">
    
                                    </mat-form-field> -->
                    <mat-form-field>
                      <mat-select placeholder="Owner Designation" formControlName="owner_designation" [(ngModel)]="setp_three_data.owner_designation">
                        <mat-option *ngFor="let designation of designations" [value]="designation.id">
                          {{ designation.designation_name }}
                        </mat-option>
                        <mat-error *ngIf="isFieldValid(stepThree,'owner_designation')">Please choose Owner Designation</mat-error>
                      </mat-select>
                    </mat-form-field>
                    <p class="btn-switch">
                      <mat-slide-toggle [checked]="haveOwnerDesignation"></mat-slide-toggle>
                    </p>
                  </div>
                  <div class="form-field col col-md-12">
                    <mat-form-field class="input-full-width">
                      <mat-icon matPrefix>calendar_today</mat-icon>
                      <input matInput placeholder="Established in The Year" formControlName="business_est_year" [(ngModel)]="setp_three_data.business_est_year">
                    </mat-form-field>
                    <p class="btn-switch">
                      <mat-slide-toggle [checked]="haveBusinessEstYear"></mat-slide-toggle>
                    </p>
                  </div>
                  <div class="form-field col col-md-12">
                    <mat-form-field class="input-full-width">
                      <mat-icon matPrefix>location_on</mat-icon>
                      <input matInput placeholder="Business location" autocorrect="off" autocapitalize="off" spellcheck="off" #search formControlName="store_address"
                        [(ngModel)]="setp_three_data.store_address">
                      <input type="hidden" formControlName="lat" [(ngModel)]="setp_three_data.lat">
                      <input type="hidden" formControlName="long" [(ngModel)]="setp_three_data.long">
                    </mat-form-field>
                    <p class="btn-switch">
                      <mat-slide-toggle [checked]="haveBusinessLocation"></mat-slide-toggle>
                    </p>
                  </div>
                  <div class="form-field col-md-12">
                    <div class="upload-filed  oner-photo">
                      <input type="file" name="owner_pic" formControlName="owner_pic" (change)="ownerLogoChange($event.target.files)" accept="image/*">
                      <p class="btn-switch">
                        <mat-slide-toggle [checked]="haveOwnerPic"></mat-slide-toggle>
                      </p>
                    </div>
                  </div>
                  <div class="form-field col-md-12">
                    <div class="row">
                      <div class="form-field  align-center col-md-5">
                        <button type="button" matStepperPrevious class="round-g-btn" (click)="goToStep(2)">Back</button>
                      </div>
                      <div class="form-field align-center col-md-5">
                        <button class="round-g-btn" (click)="submitStepThree()"  *ngIf="user_app_details.is_paid">Submit</button>
                        <button mat-button class="round-g-btn" (click)="save_nextStep(user_app_details.id)" *ngIf="!user_app_details.is_paid">Next</button>
                      </div>
                    </div>
                  </div>

                </section>


              </div>
              <div class="col-md-6">
                <div class="col-md-12 get-in-touch  padding-top-bottom-10">
                  <div class="container">
                    <h1 class="title fontface-one text-color-darkgrey-b letter-spacing">
                      OWNER INTRODUCTION
                    </h1>
                  </div>
                </div>

                <div class="mob">
                  <div class="wallpaper-size profile-page apps-design padding-10 text-center ">

                    <img [src]="setp_three_data.owner_pic ?setp_three_data.owner_pic : 'assets/images/resturent-logo.png'" alt="">

                    <h1>{{setp_three_data.owner_name}}</h1>
                    <!-- <div class="description ">
                                        <span *ngIf="setp_three_data.owner_designation != ''">Designation</span>
                                        <p>{{setp_three_data.owner_designation}}</p>
                                    </div> -->
                    <!-- <div class="description ">
                                        <span>Ex. Year</span>
                                        <p>{{setp_three_data.owner_name}}</p>
                                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <!-- <mat-step [stepControl]="stepFive">
        <div class="col-md-12 get-in-touch padding-top-bottom-10">
          <div class="container">
            <h1 class="title fontface-one text-color-dark letter-spacing">
              All about the product/ service
            </h1>
          </div>
        </div>
        <div class="container min-height-600 padding-top-25">
          <div class="row">
            <div class="col-md-12">
              <div>
                <mat-radio-group [(ngModel)]="serviceType">
                  <mat-radio-button value="1">Product</mat-radio-button>
                  <mat-radio-button value="2">Service</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="serviceType == 1">
            <div class="col-md-9">
              <section class="get-in-touch">
                <form [formGroup]="stepFive">
                  <div formArrayName="product_categories">
                    <div class="row" *ngFor="let categories of geCategory(stepFive); let i = index;">
                      <div class="col-md-12" [formGroupName]="i">
                        <div class="row">
                          <div class="col-md-8">
                            <mat-form-field class="input-full-width">
                              <mat-icon matPrefix>info</mat-icon>
                              <input matInput placeholder="Category" [(ngModel)]="step_five_data.product_categories[i].category_name" name="category_name"
                                formControlName="category_name">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2 pick-oftext">
                            <a routerLink="." (click)="addProductCategory()" title="Add More" name="Add More" *ngIf="i == 0 && geCategory(stepFive).length < 4 ">
                              <i class="fa fa-plus"></i>
                              <span>Add More Category</span>
                            </a>
                            <a href="javascript:void(0);" title="Delete" name="Delete" *ngIf="i > 0" (click)="deleteProductCategory(i)">
                              <i class="fa fa-times-circle fa-2"></i>
                              <span>Remove</span>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="text-align: right">
                    <button mat-button class="round-g-biscuit" (click)="submitCategory()">Confirm Category</button>
                  </div>
                </form>

                <div class="add-product padding-10 margin-top-10  bg-white box-shadow" *ngIf="category_confirm_key">
                  <form class="row" [formGroup]="stepFiveDataCatProd">
                    <mat-tab-group formArrayName="product_cols">
                      <mat-tab label="{{step_five_data.product_categories[i].category_name}}" *ngFor="let productCols of stepFiveDataCatProd.controls['product_cols'].controls; let i=index">
                        <div class="col-md-12" [formGroupName]="i">

                          <div class="col-md-12" formArrayName="products">
                            <div class="row" *ngFor="let product of productCols.controls['products'].controls; let j = index">
                              <div class="col-md-12" [formGroupName]="j">
                                <div class="row">
                                  <div class="col-md-2">
                                    <mat-form-field class="input-full-width">
                                      <input matInput placeholder="Product Name" name="product_name" [(ngModel)]="setp_five_data_cat_prod[i].products[j].product_name"
                                        formControlName="product_name">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                    <mat-form-field class="input-full-width">

                                      <input matInput appOnlyNumber placeholder="Price" name="price" [(ngModel)]="setp_five_data_cat_prod[i].products[j].price"
                                        formControlName="price">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                    <mat-form-field class="input-full-width">

                                      <input matInput appOnlyNumber placeholder="Discounted Price" name="discounted_price" [(ngModel)]="setp_five_data_cat_prod[i].products[j].discounted_price"
                                        formControlName="discounted_price">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                    <mat-form-field class="input-full-width">

                                      <input matInput appOnlyNumber placeholder="Packing Charges" name="packing_charges" [(ngModel)]="setp_five_data_cat_prod[i].products[j].packing_charges"
                                        formControlName="packing_charges">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-2">
                                    <mat-form-field class="input-full-width">

                                      <input matInput placeholder="Tags" name="tags" [(ngModel)]="setp_five_data_cat_prod[i].products[j].tags" formControlName="tags">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-2 pick-oftext">
                                    <a mat-button routerLink="." (click)="addProduct(i,step_five_data.product_categories[i].id)" title="Add More" name="Add More"
                                      *ngIf="j == 0">
                                      <i class="fa fa-plus"></i>
                                      <span>Add More Product</span>
                                    </a>
                                    <a href="javascript:void(0);" title="Delete" name="Delete" *ngIf="j > 0" (click)="deleteProduct(i,j)">
                                      <i class="fa fa-times-circle fa-2"></i>
                                      <span>Remove</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                    <div class="col-md-12" style="text-align: right">
                      <button mat-button class="round-g-biscuit" (click)="submitProduct()">Confirm Product</button>
                    </div>
                  </form>
                </div>
                <hr>
                <div class="col-md-6">
                  <div class="row">
                    <div class="align-center col-md-5">
                      <button mat-button type="button" matStepperPrevious class="round-g-grey" (click)="goToStep(4)">Back</button>
                    </div>
                    <div class="align-center col-md-5">
                      <button mat-button class="round-g-btn" (click)="save_nextStep(user_app_details.id)" *ngIf="category_confirm_key && !user_app_details.is_paid">Next</button>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-3">

              <div class="mob">
                <div class="wallpaper-size resturent-screen apps-design padding-10 text-center ">

                  <img [src]="step_one_data.logo ?step_one_data.logo : 'assets/images/resturent-logo.png'" alt="">

                  <h1>{{step_one_data.business_name}}</h1>
                  <div class="description">


                  </div>
                  <div class="description ">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="serviceType == 2">
              <div class="col-md-9">
                <section class="get-in-touch">
                  <form [formGroup]="stepFive">
                    <div formArrayName="product_categories">
                      <div class="row" *ngFor="let categories of geCategory(stepFive); let i = index;">
                        <div class="col-md-12" [formGroupName]="i">
                          <div class="row">
                            <div class="col-md-8">
                              <mat-form-field class="input-full-width">
                                <mat-icon matPrefix>info</mat-icon>
                                <input matInput placeholder="Category" [(ngModel)]="step_five_data.product_categories[i].category_name" name="category_name"
                                  formControlName="category_name">
                              </mat-form-field>
                            </div>
                            <div class="col-md-2 pick-oftext">
                              <a routerLink="." (click)="addProductCategory()" title="Add More" name="Add More" *ngIf="i == 0 && geCategory(stepFive).length < 4 ">
                                <i class="fa fa-plus"></i>
                                <span>Add More Category</span>
                              </a>
                              <a href="javascript:void(0);" title="Delete" name="Delete" *ngIf="i > 0" (click)="deleteProductCategory(i)">
                                <i class="fa fa-times-circle fa-2"></i>
                                <span>Remove</span>
                              </a>
                            </div>
  
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" style="text-align: right">
                      <button mat-button class="round-g-biscuit" (click)="submitCategory()">Confirm Category</button>
                    </div>
                  </form>
  
                  <div class="add-product padding-10 margin-top-10  bg-white box-shadow" *ngIf="category_confirm_key">
                    <form class="row" [formGroup]="stepFiveDataCatProd">
                      <mat-tab-group formArrayName="product_cols">
                        <mat-tab label="{{step_five_data.product_categories[i].category_name}}" *ngFor="let productCols of stepFiveDataCatProd.controls['product_cols'].controls; let i=index">
                          <div class="col-md-12" [formGroupName]="i">
  
                            <div class="col-md-12" formArrayName="products">
                              <div class="row" *ngFor="let product of productCols.controls['products'].controls; let j = index">
                                <div class="col-md-12" [formGroupName]="j">
                                  <div class="row">
                                    <div class="col-md-10">
                                      <mat-form-field class="input-full-width">
                                        <input matInput placeholder="Service" name="product_name" [(ngModel)]="setp_five_data_cat_prod[i].products[j].product_name"
                                          formControlName="product_name">
                                      </mat-form-field>
                                    </div>
                                    
                                    <div class="col-md-2 pick-oftext">
                                      <a mat-button routerLink="." (click)="addProduct(i,step_five_data.product_categories[i].id)" title="Add More" name="Add More"
                                        *ngIf="j == 0">
                                        <i class="fa fa-plus"></i>
                                        <span>Add More Service</span>
                                      </a>
                                      <a href="javascript:void(0);" title="Delete" name="Delete" *ngIf="j > 0" (click)="deleteProduct(i,j)">
                                        <i class="fa fa-times-circle fa-2"></i>
                                        <span>Remove</span>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                      <div class="col-md-12" style="text-align: right">
                        <button mat-button class="round-g-biscuit" (click)="submitProduct()">Confirm Service</button>
                      </div>
                    </form>
                  </div>
                  <hr>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="align-center col-md-5">
                        <button mat-button type="button" matStepperPrevious class="round-g-grey" (click)="goToStep(4)">Back</button>
                      </div>
                      <div class="align-center col-md-5">
                        <button mat-button class="round-g-btn" (click)="save_nextStep(user_app_details.id)" *ngIf="category_confirm_key && !user_app_details.is_paid">Next</button>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-md-3">
  
                <div class="mob">
                  <div class="wallpaper-size resturent-screen apps-design padding-10 text-center ">
  
                    <img [src]="step_one_data.logo ?step_one_data.logo : 'assets/images/resturent-logo.png'" alt="">
  
                    <h1>{{step_one_data.business_name}}</h1>
                    <div class="description">
  
  
                    </div>
                    <div class="description ">
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </mat-step> -->
    </mat-horizontal-stepper>
  </div>
</loading>