<!-- Sposnors Sider Section Start -->
<section class="sponsors-slider-section background-grey padding-top">
  <div class="container">
      <div class="background-white broder-grey min-height-box">

          <div class="row">
              <div class="col-md-4">

                  <ul class="nav icon-apps" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" href="#android-app" role="tab" data-toggle="tab"><i class="fa fa-android"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#ios-app" role="tab" data-toggle="tab"><i class="fa fa-apple"></i></a>
                      </li>

                  </ul>

                  <div class="tab-content">


                      <div role="tabpanel" id="android-app" class="tab-pane active mobo-theme mobo-custom wow fadeInLeft" data-wow-delay="300ms">
                          <img class="img-fluid" src="assets/images/defolt-logo.png" alt="">
                          <span>Shyamfuture tech LLp</span>
                          <div class="discription">
                              <h3>Description</h3>
                              <p>
                                  Discover Mini Apps of 1000s of Businesses in one Mega App. No need to download individual apps for individual Businesses. Chat, Buy and Pay Businesses / Shops / Stores directly - all in one place. WHY GOODBOX: One Mega app with 1000s of Mini Apps in it
                                  Number is private - Not shown by default No middlemen - Buy directly from Businesses


                              </p>
                          </div>

                      </div>

                      <div role="tabpanel" id="ios-app" class="tab-pane mobo-theme mobo-custom wow fadeInLeft" data-wow-delay="300ms">
                          <img class="img-fluid" src="assets/images/defolt-logo.png" alt="">
                          <span>Shyamfuture tech LLp</span>
                          <div class="discription">
                              <h3>Description</h3>
                              <p>
                                  Discover Mini Apps of 1000s of Businesses in one Mega App. No need to

                              </p>
                          </div>

                      </div>

                  </div>

              </div>
              <div class="col-lg-7">
                  <div class="company-contact-form wow fadeInRight" data-wow-delay="300ms">
                      <h3 class="text-color-dark font-weight-600 fontface-one padding-bottom-45">Write Us</h3>
                      <form class="contact-form-outer">
                          <div class="row custom-input">

                              <div class="col-md-6">
                                  <div class="contact-form-textfield  upload-defolt">
                                      <!-- <input type="email" placeholder="Your Email" class="form-control paragraph-16"> -->
                                      <input type="file" name="imageUpload" id="" />
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="contact-form-textfield padding-bottom-30">
                                      <input type="text" placeholder="Your Name" class="form-control paragraph-16">
                                  </div>
                              </div>

                              <div class="col-md-12">
                                  <div class="contact-form-textfield padding-bottom-40">
                                      <textarea placeholder="Your Message" class="form-control paragraph-16"></textarea>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <a class="button-setting button-setting-primary background-secondary text-color-white width-100 text-center" href="javascript:void(0);" (click)="btnClickNav('create-app/step-two')">Next</a>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>


          </div>


      </div>

  </div>
</section>
<!-- Sponsors Slider Section End -->