<form [formGroup]="stepOne">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="get-in-touch">
                    <h1 class="title">
                        <span> your own app</span> Get in 5 Minutes
                    </h1>
                    <div class="select-btn bg-white box-shadow padding-10 broder-radius-5">
                        <ul *ngIf="category_list.length > 0">
                            <li *ngFor="let category of category_list">
                                <a href="javascript:void(0)" (click)="categorySelect(category.id)" [ngClass]="{'selected': setp_one_data.app_category == category.id}">
                                    <img src="../../../../assets/images/select-1.png" alt=""> {{category.category_name}}
                                </a>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="row padding-top-15">
                        <div class="form-field col x-100 align-center col-md-5">
                            <input class="round-g-btn" type="submit" value="Next" (click)="submitStepOne()">
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 bg-texture">
                <div class="mob ">
                    <div class="wallpaper-size caragory-resturent"></div>
                </div>
            </div>
        </div>
    </div>
</form>