<div class="login_modal">
    <a class="close" (click)="modalClose()">×</a>
    <h5 mat-dialog-title class="text-color-secondary text-center text-transform">Apply coupon code</h5>
    <mat-dialog-content>
        <form class="coupon_form" [formGroup]="form" novalidate>
            <mat-form-field class="example-full-width full_width">
                <input matInput placeholder="Coupon Code" class="form-control" formControlName="coupon" name="coupon">
                <mat-error *ngIf="form.get('coupon').touched && form.get('coupon').hasError('required')">
                    Please enter
                    <strong>Coupon Code</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="round-g-biscuit pull-right" mat-button (click)="onSubmit()">Apply</button>
    </mat-dialog-actions>
</div>