<app-header></app-header>

<!-- About Company Section -->
<section class="about-company-section  padding-top-bottom background-pink" id="about-company-section">
    <div class="about-company-slider-section ">
        <div class="container">
            <!-- About Company Slider -->

            <div class="about-company-slider swiper-container">

                <div class="about-company-slide">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2">
                            <div class="about-slider-image-section clearfix position-relative">
                                <div class="about-slider-images-section-inner wow fadeInLeft" data-wow-delay="350ms">
                                    <img src="assets/images/franchise-club.jpg" data-slide="animated" data-animate="zoomIn">
                                </div>
                                <div class="about-img-gradient-box gradient-bg-pink-purple" data-slide="animated" data-animate="zoomIn"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 vertical-align-about-caption">
                            <div class="about-slider-img-detail" data-slide="animated" data-animate="fadeInRight">

                                <h2 class="fontface-one text-color-dark padding-bottom-35 text-transform paragraph-34 letter-spacing ">What And How Of The Franchise Program</h2>
                                <p class="text-color-dark paragraph-15 padding-bottom-25 text-color-darkgrey">
                                    The franchise program of Banao.App has been designed to assist you in multiplying your revenue. Besides boosting your business
                                    with the smartest app, you can now become its franchise and earn from this opportunity.

                                </p>
                                <p class="paragraph-15 padding-bottom-35 text-color-dark">
                                    By agreeing to become a franchise of Banao.App you enter into an agreement with Shyam Future Tech LLP, and abide by the terms
                                    and conditions. You can involve in marketing and sale of mobile applications and website
                                    developed by the company, across the globe. The more the sale increases, the more you
                                    earn from it, in the form of commission.
                                    <br>
                                    <br> Refer it to your friends, partners, and even to foes… because your commission increases
                                    with every new sale! Want to know about it in detail? We are just a call or message away!
                                </p>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination d-none d-sm-none d-md-none d-lg-block"></div>
            </div>
        </div>
    </div>
</section>