<div class="container">
  <div class="row">
    <div class="col-md-6">
      <section class="get-in-touch">
        <ul>

          <li class="nav-item" *ngIf="!isLoggedin">
            <a class="nav-link scroll" href="javascript:void(0)" (click)="openLogin()">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedin">
            <a class="nav-link scroll" href="javascript:void(0)">{{user_name}}</a>
          </li>
        </ul>
        <h1 class="title">
          <span> your own app</span> Get in 5 Minutes
        </h1>
        <div class="select-btn bg-white box-shadow padding-10 broder-radius-5">
          <ul>
            <li>
              <a href="#">
                <img src="../../../assets/images/select-1.png" alt=""> Restaurants
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/select-1.png" alt=""> Restaurants
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/select-1.png" alt=""> Restaurants
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/select-1.png" alt=""> Restaurants
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/select-1.png" alt=""> Restaurants
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/select-1.png" alt=""> Restaurants
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/select-1.png" alt=""> Restaurants
              </a>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <div class="row padding-top-15">
          <div class="form-field col x-100 align-center col-md-5">
            <input class="round-g-btn" type="submit" value="Next">
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-6 bg-texture">
      <div class="mob ">
        <div class="wallpaper-size caragory-resturent"></div>
      </div>
    </div>
  </div>
</div>