<!-- Main Slider Section -->
<section class="main-banner-bg">
  <div class="banner-sec">
    <h2 class="padding-bottom-35 wow fadeInRight">Get a Readymade App</h2>
    <a href="javascript:void(0);" class="button-setting background-secondary button-setting-primary text-color-white wow fadeInLeft" data-wow-delay="400ms" (click)="btnClickNav('create-app')">Create Now</a>
  </div>
  <img class="img-responsive wow fadeInUp" data-wow-delay="400ms" src="assets/images/hero-12-img.png" alt="">
</section>

<!-- /Main Slider Section End -->
<!-- About Company Section -->
<section class="about-company-section  padding-top-bottom background-grey" id="about-company-section">
  <div class="about-company-slider-section ">
    <div class="container">
      <!-- About Company Slider -->
      <div class="about-company-slider swiper-container">

        <div class="about-company-slide">
          <div class="row">
            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2">
              <div class="about-slider-image-section clearfix position-relative">
                <div class="about-slider-images-section-inner">
                  <img src="assets/images/about-slider-img-1.jpg" alt="about-slider-image" data-slide="animated" data-animate="zoomIn">
                </div>
                <div class="about-img-gradient-box gradient-bg-green-blue" data-slide="animated" data-animate="zoomIn"></div>
              </div>
            </div>
            <div class="col-lg-6 vertical-align-about-caption">
              <div class="about-slider-img-detail" data-slide="animated" data-animate="fadeInRight">

                <h2 class="fontface-one text-color-dark padding-bottom-35">Why
                  <span class="font-weight-700">We’re Different</span>
                </h2>
                <p class="text-color-dark paragraph-15 padding-bottom-35 text-color-darkgrey">
                  Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus
                  metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus
                  faucibus. </p>
                <p class="text-color-dark paragraph-15 padding-bottom-45 text-color-darkgrey">
                  Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend.</p>
                <a href="#." class="button-setting background-primary text-color-white button-setting-secondary"> Learn More </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination d-none d-sm-none d-md-none d-lg-block"></div>
      </div>
    </div>
  </div>
</section>
<!-- /About Company Section End -->

<!-- About Company Services -->
<div class="about-company-services ">
  <div class="container">
    <div class="section-heading text-center">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
          <h2 class="fontface-one text-color-dark padding-bottom-35 wow fadeInUp" data-wow-delay="300ms">What
            <span class="text-color-secondary font-weight-700">We Offer</span>
          </h2>
          <p class="paragraph-15 fontface-two text-color-darkgrey wow fadeInUp" data-wow-delay="350ms">
            Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus
            metus sollicitudin.</p>
        </div>
      </div>
    </div>
    <div class="about-company-services-block">
      <div class="row">
        <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 offset-sm-0">
          <div class="about-company-services-block-inner background-white text-center wow fadeInUp" data-wow-delay="300ms">
            <div class="about-company-services-block-inner-icon">
              <i class="fa fa-cog"></i>
            </div>
            <h4 class="fontface-one text-color-dark font-weight-700 padding-bottom-10">Website Design</h4>
            <p class="text-color-secondary paragraph-14 font-weight-300 fontface-two padding-bottom-20">Graphics Animation</p>
            <p class="text-color-darkgrey paragraph-14 fontface-two">
              Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim
              mi ac, varius magna.</p>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 offset-sm-0">
          <div class="about-company-services-block-inner background-white text-center wow fadeInUp" data-wow-delay="350ms">
            <div class="about-company-services-block-inner-icon">
              <i class="fa fa-pencil"></i>
            </div>
            <h4 class="fontface-one text-color-dark font-weight-700 padding-bottom-10">Product Branding</h4>
            <p class="text-color-secondary paragraph-14 font-weight-300 fontface-two padding-bottom-20">Packages &amp; Products</p>
            <p class="text-color-darkgrey paragraph-14 fontface-two">
              Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim
              mi ac, varius magna.</p>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 offset-sm-0">
          <div class="about-company-services-block-inner background-white text-center wow fadeInUp" data-wow-delay="400ms">
            <div class="about-company-services-block-inner-icon">
              <i class="fa fa-code"></i>
            </div>
            <h4 class="fontface-one text-color-dark font-weight-700 padding-bottom-10">Seo Marketing</h4>
            <p class="text-color-secondary paragraph-14 font-weight-300 fontface-two padding-bottom-20">Online Services</p>
            <p class="text-color-darkgrey paragraph-14 fontface-two">
              Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim
              mi ac, varius magna.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /About Company Services End-->
<!-- Team Section Start -->
<section class="team-section team-section-two padding-top-bottom background-grey" id="team-section">
  <div class="container">
    <div class="section-heading text-center">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
          <h2 class="fontface-one text-color-dark padding-bottom-35 wow fadeInUp" data-wow-delay="300ms">Creative
            <span class="text-color-primary font-weight-700"> Free Website</span>
          </h2>

        </div>
      </div>
    </div>

    <div class="team-section-inner team-section-inner-two">
      <div class="swiper-container team-member-slider-2">
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <div class="team-member-outer">
              <div class="team-member-image-2">
                <img src="assets/images/web-a.jpg" alt="team-member-image" class="width-100">
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="team-member-progress-detail" data-slide="animated" data-animate="fadeIn">
              <h5 class="paragraph-14 font-weight-700 text-color-secondary padding-bottom-5">Skills &amp; Expertise</h5>
              <ul class="list-tick">
                <li>Your site will be on Google</li>
                <li>Fully Mobile Optimized for Mobile</li>
                <li>Fully Mobile Responsive</li>
                <li>Fully functional e-commerce site</li>
              </ul>
            </div>
            <div class="team-member-detail-information padding-bottom-45">
              <p class="text-color-darkgrey fontface-two paragraph-13 padding-top-25">
                Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend.</p>
            </div>
            <a href="javascript:void(0);" class="button-setting background-secondary button-setting-primary text-color-white wow fadeInLeft" data-wow-delay="400ms" >Create Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Team Section End -->
<!-- Company Stats Information Start -->
<section class="company-stats-section background-white padding-top-bottom" id="stats-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-md-12 order-sm-12 order-12 order-lg-1">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="stats-block-inner text-center wow fadeInUp" data-wow-delay="300ms">
              <i class="fa fa-thumbs-up text-color-dark "></i>
              <div class="stats-number-inner text-color-dark fontface-one font-weight-700 padding-top-20">
                <span>4200</span>+
              </div>
              <p class="paragraph-16 font-weight-400 fontface-two text-color-dark padding-top-5">Satisied Customers</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="stats-block-inner text-center wow fadeInUp" data-wow-delay="350ms">
              <i class="fa fa-archive text-color-dark "></i>
              <div class="stats-number-inner text-color-dark fontface-one font-weight-700 padding-top-20">
                <span>9500</span>+
              </div>
              <p class="paragraph-16 font-weight-400 fontface-two text-color-dark padding-top-5">Completed Consultations</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="stats-block-inner text-center wow fadeInUp" data-wow-delay="400ms">
              <i class="fa fa-phone text-color-dark "></i>
              <div class="stats-number-inner text-color-dark fontface-one font-weight-700 padding-top-20">
                <span>6000</span>+
              </div>
              <p class="paragraph-16 font-weight-400 fontface-two text-color-dark padding-top-5">Carried Out Trainings</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 order-md-1 order-sm-1 order-1 order-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="stats-heading text-right padding-bottom-30 wow fadeInUp" data-wow-delay="300ms">
              <h2 class="text-color-dark fontface-one">Important facts</h2>
              <h2 class="text-color-dark fontface-one">about
                <span class="text-color-secondary ">design</span>
              </h2>
            </div>
            <div class="stats-heading-detail text-right wow fadeInUp" data-wow-delay="350ms">
              <p class="paragraph-14 text-color-darkgrey fontface-two">BuildGo is a design studio founded in London, Nowadays we've grown and expanded our services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Company Stats Information End -->
<!-- Pricing Table Start -->
<section class="pricing-table-section padding-top-bottom background-grey" id="pricing-table-section">
  <div class="container">
    <div class="section-heading text-center">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
          <h2 class="fontface-one text-color-dark padding-bottom-35 wow fadeInUp" data-wow-delay="300ms">Product
            <span class="text-color-dark font-weight-700"> Options</span>
          </h2>
          <p class="paragraph-15 fontface-two text-color-darkgrey wow fadeInUp" data-wow-delay="350ms">
            Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus
            metus sollicitudin. </p>
        </div>
      </div>
    </div>

    <div class="pricing-table-outer">
      <div class="row">


        <div class="col-md-6">
          <div class="pricing-table-inner text-center active main wow fadeInUp" data-wow-delay="350ms">
            <div class="row">
              <div class="col-md-12">
                <h4 class="font-weight-600 text-color-dark fontface-one padding-bottom-20">Standard App</h4>
              </div>

              <div class="col-md-12">
                <h2 class="pricing-main-price fontface-one font-weight-700 text-color-dark">
                  <span class="paragraph-20 pricing-currency-sign font-weight-600 fontface-two">$</span> 56
                  <span class="paragraph-16 font-weight-400 fontface-two"> /Month</span>
                </h2>
              </div>
              <div class="col-md-12">
                <ul class="pricing-detail-list padding-top-25 padding-bottom-45">
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">Full access</li>
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">Unlimited Bandwidth</li>
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">Email Accounts</li>
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">8 Free Forks Every Month</li>
                </ul>
              </div>
              <div class="col-md-12">
                <a href="#." class="button-setting background-primary  button-setting-secondary">Learn More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="pricing-table-inner text-center wow fadeInUp" data-wow-delay="400ms">
            <div class="row">
              <div class="col-md-12">
                <h4 class="font-weight-600 text-color-dark fontface-one padding-bottom-20">Free Website</h4>
              </div>



              <div class="col-md-12">
                <h2 class="pricing-main-price fontface-one font-weight-700 text-color-dark">
                  <span class="paragraph-20 pricing-currency-sign font-weight-600 fontface-two">$</span> 89
                  <span class="paragraph-16 font-weight-400 fontface-two"> /Month</span>
                </h2>
              </div>

              <div class="col-md-12">
                <ul class="pricing-detail-list padding-top-25 padding-bottom-45">
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">Full access</li>
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">Unlimited Bandwidth</li>
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">Email Accounts</li>
                  <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-15">8 Free Forks Every Month</li>
                </ul>
              </div>
              <div class="col-md-12">
                <a href="#." class="button-setting background-secondary  button-setting-primary"> Learn More </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Table End -->
<!-- Blog Section Start -->
<section class="blog-section" id="blog-section">
  <div class="blog-picture">
      <img src="assets/images/blog-images-1.jpg" alt="blog-picture" class="width-100">
  </div>
  <div class="container">
      <div class="blog-inner-detail position-relative padding-top-bottom">
          <div class="row">
              <div class="col-lg-5 col-md-6">
                  <div class="blog-inner-detail vertical-align-about-caption text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
                      <div class="blog-detail-text">
                          <h2 class="fontface-one text-color-dark padding-bottom-20"> Designer
                              <span class=""> Blog</span>
                          </h2>

                          <p class="paragraph-14 text-color-darkgrey fontface-two padding-bottom-50">
                              Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
                          </p>
                          <a href="#" class="button-setting background-primary button-setting-secondary fontface-one text-color-white">Read Full Story</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="blog-section">
  <div class="blog-picture left">
      <img src="assets/images/blog-images-2.jpg" alt="blog-picture" class="width-100">
  </div>
  <div class="container">
      <div class="blog-inner-detail position-relative padding-top-bottom wow fadeInRight" data-wow-delay="350ms">
          <div class="row">
              <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6">
                  <div class="blog-inner-detail vertical-align-about-caption text-md-right text-center">
                      <div class="blog-detail-text">
                          <h2 class="fontface-one text-color-dark padding-bottom-20">Marketing
                              <span class="">Blog</span>
                          </h2>

                          <p class="paragraph-14 text-color-darkgrey fontface-two padding-bottom-50">
                              Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
                          </p>
                          <a href="javascript:void(0)" class="button-setting background-primary button-setting-secondary fontface-one text-color-white">Read Full Story</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Section End -->

<!-- Contact Form Section Start -->
<section class="contact-form-section padding-top-bottom" id="contact-form-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="company-contact-detail wow fadeInLeft" data-wow-delay="300ms">
                  <div class="contact-heading padding-bottom-35">
                      <h2 class="fontface-one text-color-dark ">Connect</h2>
                      <h2 class="fontface-one text-color-dark">with <span class="font-weight-700">BuildGo<span class="text-color-primary">.</span></span>
                      </h2>
                  </div>
                  <p class="paragraph-14 text-color-darkgrey fontface-two">
                      Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend.</p>
                  <div class="contact-detail-list">
                      <ul>
                          <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-10">31 Van Choung Street</li>
                          <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-10">Ha Noi, Viet Nam</li>
                          <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-10">+84 (91)2 847 911</li>
                          <li class="paragraph-15 text-color-darkgrey fontface-two padding-top-10">Pagina@info.com</li>
                      </ul>
                  </div>

                  <div class="contact-company-icons padding-top-35">
                      <ul class="company-social-icons">
                          <li class="company-social-icons-list">
                              <a href="#." class="facebook-icon"> <i class="fa fa-facebook-f"></i></a>
                          </li>
                          <li class="company-social-icons-list">
                              <a href="#." class="twitter-icon"> <i class="fa fa-twitter"></i> </a>
                          </li>

                          <li class="company-social-icons-list">
                              <a href="#." class="instagram-icon"><i class="fa fa-instagram"></i></a>
                          </li>

                          <li class="company-social-icons-list">
                              <a href="#." class="googleplus-icon"><i class="fa fa-google-plus-g"></i></a>
                          </li>
                          <li class="company-social-icons-list">
                              <a href="#." class="dribble-icon"><i class="fa fa-dribbble"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 offset-lg-1">
              <div class="company-contact-form wow fadeInRight" data-wow-delay="300ms">
                  <h3 class="text-color-dark font-weight-600 fontface-one padding-bottom-45">Write Us</h3>
                  <form class="contact-form-outer">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="contact-form-textfield padding-bottom-30">
                                  <input type="text" placeholder="Your Name" class="form-control paragraph-16">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="contact-form-textfield padding-bottom-30">
                                  <input type="email" placeholder="Your Email" class="form-control paragraph-16">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="contact-form-textfield padding-bottom-45">
                                  <input type="text" placeholder="Subject" class="form-control paragraph-16">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="contact-form-textfield padding-bottom-40">
                                  <textarea placeholder="Your Message" class="form-control paragraph-16"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <a class="button-setting button-setting-primary background-secondary text-color-white width-100 text-center" href="#.">Send Message</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- Contact Form Section End -->

<!-- Google Map Section -->
<section id="google-map" data-wow-delay="300ms"></section>
<!-- /Google Map Section End -->