<!-- Page Footer -->
<footer class="footer-section padding-bottom-70 padding-top-70 padding-top-1 background-white">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 order-lg-1 order-md-3 order-sm-3 order-3 wow fadeIn" data-wow-delay="300ms">
              <p class="paragraph-13 footer-copyright-text font-weight-500 fontface-two text-color-dark padding-top-10">&copy; 2018 Banao.app made with love by
                  <a href="http://www.shyamfuture.com/" class="footer-web-link" target="_blank"> Shyamfuture</a>
              </p>
          </div>

          <div class="col-lg-6 order-lg-1 order-md-2 order-sm-2 order-2 wow fadeIn" data-wow-delay="350ms">
              <div class="footer-links padding-top-5">
                  <ul class="footer-links-outer text-center">
                      <li class="footer-links-inner">
                          <a pageScroll class="scroll" href="#main-slider-section">home</a>
                      </li>
                      <li class="footer-divider">|</li>
                      <li class="footer-links-inner">
                          <a pageScroll class="scroll" href="#about-company-section">Product</a>
                      </li>
                      <li class="footer-divider">|</li>
                      <li class="footer-links-inner">
                          <a pageScroll class="scroll" href="#company-portfolio-section">Partnerprogram </a>
                      </li>
                      <li class="footer-divider">|</li>
                      <li class="footer-links-inner">
                          <a pageScroll class="scroll" href="#price">pricing</a>
                      </li>

                      <li class="footer-divider">|</li>
                      <li class="footer-links-inner">
                          <a pageScroll class="scroll" href="#contact-form-section">contact</a>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-2 order-lg-1 clearfix order-md-1 order-sm-1 order-1 wow fadeIn" data-wow-delay="400ms">
              <a  [routerLink]="['/']" class="footer-logo">
                  <img src="assets/images/logo-dark.png" alt="logo-BuildGo">
              </a>
          </div>
      </div>
  </div>
</footer>
<!-- /Page Footer End -->