<app-site-header></app-site-header>
<div class="clearfix"></div>
<div class="background-pink  padding-top-bottom-50 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <mat-card>
                    <mat-card-title>Subscription Type</mat-card-title>
                    <mat-card-content>
                        <mat-radio-group class="example-radio-group row" [(ngModel)]="subscription_type_id" (change)="onSubscriptionChange()">
                            <mat-radio-button class="example-radio-button col-md-12" *ngFor="let subscription of subscriptionTypeList" [value]="subscription.id">
                                {{subscription.type_name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-card-content>

                    <mat-card-title>Item Details</mat-card-title>
                    <mat-card-content>
                        <div class="col-md-12">
                            <div class="row" *ngFor="let item of priceList; let i = index;">
                                <mat-checkbox [checked]="item.checked" (change)="onPriceChange($event, i, item)" [disabled]="item.setDisabled">
                                    <div class="col-md-8"> {{item.title}} </div>
                                </mat-checkbox>
                                <!-- <div class="col-md-6" style="text-align: right">Rs. {{item.cost}} / day</div> -->
                                <div class="col-md-4" style="text-align: right">
                                    <mat-form-field class="input-full-width">
                                    <input matInput appOnlyNumber placeholder="Price per day" [(ngModel)]="min_per_day_price" (blur)="getPerDayPrice($event.target.value, i)" >
                                        </mat-form-field>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Apply coupon code</label>
                                </div>
                                <div class="col-md-4">
                                    <form class="coupon_form" [formGroup]="cuponForm" novalidate>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Coupon Code" formControlName="coupon" name="coupon">
                                            <mat-error *ngIf="isFieldValid(cuponForm,'coupon')">
                                                Please enter
                                                <strong>Coupon Code</strong>
                                            </mat-error>
                                        </mat-form-field>


                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <button class="round-g-biscuit pull-right" (click)="apply_coupon()">Apply</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Apply referral code</label>
                                </div>
                                <div class="col-md-4">
                                    <form class="coupon_form" [formGroup]="referralForm" novalidate>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Referral Code" formControlName="referral_code" name="referral_code">
                                            <mat-error *ngIf="isFieldValid(referralForm,'referral_code')">
                                                Please enter
                                                <strong>Referral Code</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <button class="round-g-biscuit pull-right" (click)="apply_referral()">Apply</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row" *ngIf="offer_price == 0">
                                <div class="col-md-6">Total </div>
                                <div class="col-md-6" style="text-align: right">Rs. {{getPaidTotal()}} </div>
                            </div>
                            <div class="row" *ngIf="offer_price > 0">
                                <div class="col-md-6">Total </div>
                                <div class="col-md-6" style="text-align: right">Rs. {{getPaidTotal()}} </div>
                                <div class="col-md-6">Coupon code: {{coupon_code}} </div>
                                <div class="col-md-6" style="text-align: right">Rs. {{offer_price}} </div>
                                <div class="col-md-6 text-white bg-dark">Total </div>
                                <div class="col-md-6 text-white bg-dark" style="text-align: right">Rs. {{getPaidTotalAfterOffer()}} </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <mat-checkbox [(ngModel)]="termsAndConditionChecked">I Agree to the <a (click)="showTermsAndConditions()" class="text-primary

                                        ">terms & conditions</a></mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="round-g-biscuit" (click)="pay()">Procced To Pay!</button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!-- paytm -->
<form class="form" method="post" action="https://securegw-stage.paytm.in/theia/processTransaction" name="payment" ngNoForm style="visibility: hidden;height: 0;">
    <div *ngIf="paymentFormActive">
        <input type="hidden" value="{{paymentdetails_data.MID}}" name="MID">
        <input type="hidden" value="{{paymentdetails_data.ORDER_ID}}" name="ORDER_ID">
        <input type="hidden" value="{{paymentdetails_data.TXN_AMOUNT}}" name="TXN_AMOUNT">
        <input type="hidden" value="{{paymentdetails_data.CUST_ID}}" name="CUST_ID">
        <input type="hidden" value="{{paymentdetails_data.INDUSTRY_TYPE_ID}}" name="INDUSTRY_TYPE_ID">
        <input type="hidden" value="{{paymentdetails_data.WEBSITE}}" name="WEBSITE">
        <input type="hidden" value="{{paymentdetails_data.CHANNEL_ID}}" name="CHANNEL_ID">
        <input type="hidden" value="{{paymentdetails_data.CALLBACK_URL}}" name="CALLBACK_URL">
        <input type="hidden" value="{{paymentdetails_data.CHECKSUMHASH}}" name="CHECKSUMHASH">
    </div>
    <input type="submit" name="submit" value="Confirm Payment" id="payment_btn">
</form>
<app-footer></app-footer>