<div class="container">
  <div class="row">
    <div class="col-md-6">
      <section class="get-in-touch">
        <h1 class="title">
          <span> your own app</span> Get in 5 Minutes
        </h1>
        <form class="contact-form row">
          <div class="form-field col col-md-12">
            <mat-form-field class="input-full-width">
              <mat-icon matPrefix>card_travel</mat-icon>
              <input matInput placeholder="Name Of Your Business" value="">
            </mat-form-field>

            <p class="btn-switch">
              <mat-slide-toggle [checked]="bizChecked"></mat-slide-toggle>
            </p>
          </div>
          <div class="form-field col col-md-12">
            <mat-form-field class="input-full-width">
              <mat-icon matPrefix>info</mat-icon>
              <input matInput placeholder="Description Of Your Business" value="">
            </mat-form-field>

            <p class="btn-switch">
              <mat-slide-toggle></mat-slide-toggle>
            </p>
          </div>
          <div class="form-field col col-md-12">
            <mat-form-field class="input-full-width">
              <mat-icon matPrefix>location_on</mat-icon>
              <input matInput placeholder="Business Location" value="">
            </mat-form-field>

            <p class="btn-switch">
              <mat-slide-toggle></mat-slide-toggle>
            </p>
          </div>
          <div class="form-field col-md-12">
            <div class="upload-filed">
              <input type="file" name="pic" accept="image/*">
              <p class="btn-switch">
                <mat-slide-toggle  ></mat-slide-toggle>
              </p>
            </div>

          </div>

          <div class="form-field col-md-12">
            <div class="row">
              <div class="form-field  align-center col-md-5">
                <input class="round-w-btn" type="submit" value="Back">
              </div>
              <div class="form-field align-center col-md-5">
                <input class="round-g-btn" type="submit" value="Submit">
              </div>
            </div>
          </div>
        </form>
      </section>


    </div>
    <div class="col-md-6 bg-texture">

      <div class="mob">
        <div class="wallpaper-size resturent-screen apps-design padding-10 text-center ">

          <img src="../../../assets/images/resturent-logo.png" alt="">

          <h1>Resto Cafe</h1>
          <div class="description ">
            <span>Description</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore

            </p>
          </div>
          <div class="description ">
            <span>LOCATION</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore

            </p>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>