 <ul class="comments-list reply-list" *ngFor="let reply of data.reply; let i = index">
    <li>

        <div class="comment-avatar"><img src="assets/images/no-image.png" alt=""></div>
        <div class="comment-box">
            <div class="comment-head">
                <h6 class="comment-name"><a href="http://creaticode.com/blog">{{reply.user}}</a></h6>
                <span>{{reply.date_created | date:'mediumDate'}}</span>

                <small *ngIf="userId == reply.user_id && reply.is_approved == 0" class="waiting">Waiting for approval</small>
                <i class="fa fa-reply" (click)="toggleReplySec(reply.id)"></i>

            </div>
            <div class="comment-content">
                {{reply.title}}
            </div>
        </div>
        <app-reply-tree [data]="reply" [userName]="userName" [userId]="userId" [userPic]="userPic" [loggedIn]="loggedIn"
            [selectedToggleArea]="selectedToggleArea" [blogId]="blogId" [getSelectedToggleArea]="toggleSelectedToggleArea.bind(this)"
            (refreshData)='refreshAllData()' *ngIf="reply.is_approved == 1 || userId == reply.user_id"></app-reply-tree>

        <div class="comment-box" *ngIf="selectedToggleArea == reply.id">
            <div class="comment-head">
                <h6 class="comment-name by-author" *ngIf="!loggedIn"><a href="http://creaticode.com/blog">Join
                        Discussion - Now</a></h6>
                <h6 class="comment-name" *ngIf="loggedIn"><a href="http://creaticode.com/blog">{{reply.user}}</a></h6>

            </div>
            <form role="form" [formGroup]="replyForm" novalidate>
                <div class="comment-content form-group">
                    <textarea rows="3" cols="100%" placeholder="Enter comment" formControlName="title" [ngClass]="displayFieldCss(replyForm,'title')"></textarea>
                    <div class="invalid-feedback text-left" *ngIf="isFieldValid(replyForm,'title')">
                        Please enter comment
                    </div>
                    <button type="button" class="btn btn-info" (click)="addReply(reply)">Submit</button>

                </div>
            </form>
        </div>

    </li>


</ul> 
<!-- <ul class="reply-comment" *ngFor="let reply of data.reply; let i = index">
    <li class="comment-wrap reply-comment">
        <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
        </div>
        <div class="comment-block">
            <form action="">
                <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                <div class="bottom-comment">
                    <div class="comment-date">Aug 24, 2014 @ 2:35 PM</div>
                    <ul class="comment-actions">

                        <li class="reply"><a class="submit-send" href="#">Submit</a></li>
                    </ul>
                </div>
            </form>
        </div>

    </li>
     <li class="comment-wrap">
        <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
        </div>
        <div class="comment-block">
            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum
                dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo
                veniam fuga corporis totam.</p>
            <div class="bottom-comment">
                <div class="comment-date">Aug 23, 2014 @ 10:32 AM</div>
                <ul class="comment-actions">
                    <li class="complain">Complain</li>
                    <li class="reply">Reply</li>
                </ul>
            </div>
        </div>

    </li>
    <li class="comment-wrap">
        <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
        </div>
        <div class="comment-block">
            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum
                dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo
                veniam fuga corporis totam.</p>
            <div class="bottom-comment">
                <div class="comment-date">Aug 23, 2014 @ 10:32 AM</div>
                <ul class="comment-actions">
                    <li class="complain">Complain</li>
                    <li class="reply">Reply</li>
                </ul>
            </div>
        </div>

    </li>
    <li class="comment-wrap">
        <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
        </div>
        <div class="comment-block">
            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum
                dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo
                veniam fuga corporis totam.</p>
            <div class="bottom-comment">
                <div class="comment-date">Aug 23, 2014 @ 10:32 AM</div>
                <ul class="comment-actions">
                    <li class="complain">Complain</li>
                    <li class="reply">Reply</li>
                </ul>
            </div>
        </div>

    </li>


</ul> -->