<app-header></app-header>

<!-- About Company Section -->
<section class="about-company-section  padding-top-bottom background-pink" id="about-company-section">
    <div class="about-company-slider-section ">
        <div class="container">
            <!-- About Company Slider -->
            <div class="about-company-slider swiper-container">

                <div class="about-company-slide">

                    <div id="generic_price_table">
                        <section>

                            <div class="container">

                                <!--BLOCK ROW START-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--PRICE CONTENT START-->
                                        <div class="generic_content active clearfix wow fixed-fade" data-wow-delay="300ms">

                                            <!--HEAD PRICE DETAIL START-->
                                            <div class="generic_head_price clearfix">

                                                <!--HEAD CONTENT START-->
                                                <div class="generic_head_content clearfix">

                                                    <!--HEAD START-->
                                                    <div class="head_bg"></div>
                                                    <div class="head">
                                                        <span>Your expense</span>
                                                    </div>
                                                    <!--//HEAD END-->

                                                </div>
                                                <!--//HEAD CONTENT END-->

                                                <!--PRICE START-->
                                                <div class="generic_price_tag clearfix">
                                                    <span class="price">
                                                                    <span class="sign">Know the price</span>
                                                    <br>
                                                    <span class="month">The price can surprise you and even make you speculative but the fact remains that the cost is just what you saw.<br> You pay<b> Rs 15</b> per day for the app. </span>
                                                    </span>
                                                </div>
                                                <!--//PRICE END-->

                                            </div>
                                            <!--//HEAD PRICE DETAIL END-->

                                            <!--FEATURE LIST START-->
                                            <div class="generic_feature_list row">
                                                <ul class="col-md-6 Features">
                                                    <li class="heading-list">Features</li>

                                                    <li>Premium business listing through BanaoApp </li>
                                                    <li>Banao Partner App to manage the individual BanaoApps</li>
                                                    <li>Integrated online payment (Paytm)</li>
                                                    <li>Customer data and business reporting</li>
                                                    <li>Scope to link business’s social media pages and promotion on Instagram, Facebook, Twitter and YouTube</li>
                                                    <li>Real-time updates</li>
                                                    <li>Mobile Application Management Dashboard</li>
                                                    <li>Real-time messaging service</li>
                                                    <li>Free Android Listing</li>
                                                    <li>Free iOS listing</li>
                                                    <li>Customer Support (Email and call)</li>
                                                </ul>
                                                <ul class="col-md-3">
                                                    <li class="heading-list">Rs 15/Day <br/><small>(5000 Yearly Billing)</small></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/cross.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/cross.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/cross.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                </ul>
                                                <ul class="col-md-3">
                                                    <li class="heading-list">Rs 27/Day <br/><small>(9200 Yearly billing)</small></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>

                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                    <li>
                                                        <img class="img-fluid" [src]="'assets/images/tick.png'" alt=""></li>
                                                </ul>
                                                
                                            </div>
                                            <!--//FEATURE LIST END-->

                                            <!--BUTTON START-->
                                            <div class="generic_price_btn clearfix">

                                                <a mat-button  [routerLink]="['/create-app']" class="button-setting background-secondary button-setting-primary text-color-white wow fadeInLeft" data-wow-delay="400ms">Create App Now</a>
                                            </div>
                                            <!--//BUTTON END-->

                                        </div>
                                        <!--//PRICE CONTENT END-->
                                    </div>

                                </div>
                                <!--//BLOCK ROW END-->
                            </div>
                        </section>
                    </div>
                </div>
                <div class="swiper-pagination d-none d-sm-none d-md-none d-lg-block"></div>
            </div>
        </div>
    </div>
</section>
<!-- /Team Section End -->
<app-footer></app-footer>