<app-header></app-header>

<!-- About Company Section -->
<section class="about-company-section  padding-top-bottom background-pink" id="about-company-section">
  <div class="about-company-slider-section ">
      <div class="container">
          <!-- About Company Slider -->
          <div class="about-company-slider swiper-container">

              <div class="about-company-slide">

                  <div id="generic_price_table">
                      <section>

                          <div class="container">

                              <!--BLOCK ROW START-->
                              <div class="row">
                                  <div class="col-md-4">

                                      <!--PRICE CONTENT START-->
                                      <div class="generic_content clearfix wow fadeInUp" data-wow-delay="330ms">

                                          <!--HEAD PRICE DETAIL START-->
                                          <div class="generic_head_price clearfix">

                                              <!--HEAD CONTENT START-->
                                              <div class="generic_head_content clearfix">

                                                  <!--HEAD START-->
                                                  <div class="head_bg"></div>
                                                  <div class="head">
                                                      <span>Basic</span>
                                                  </div>
                                                  <!--//HEAD END-->

                                              </div>
                                              <!--//HEAD CONTENT END-->

                                              <!--PRICE START-->
                                              <div class="generic_price_tag clearfix">
                                                  <span class="price">
                                                              <span class="sign">$</span>
                                                  <span class="currency">99</span>
                                                  <span class="cent">.99</span>
                                                  <span class="month">/MON</span>
                                                  </span>
                                              </div>
                                              <!--//PRICE END-->

                                          </div>
                                          <!--//HEAD PRICE DETAIL END-->

                                          <!--FEATURE LIST START-->
                                          <div class="generic_feature_list">
                                              <ul>
                                                  <li><span>2GB</span> Bandwidth</li>
                                                  <li><span>150GB</span> Storage</li>
                                                  <li><span>12</span> Accounts</li>
                                                  <li><span>7</span> Host Domain</li>
                                                  <li><span>24/7</span> Support</li>
                                              </ul>
                                          </div>
                                          <!--//FEATURE LIST END-->

                                          <!--BUTTON START-->
                                          <div class="generic_price_btn clearfix">
                                              <a class="" href="">Sign up</a>
                                          </div>
                                          <!--//BUTTON END-->

                                      </div>
                                      <!--//PRICE CONTENT END-->
                                  </div>
                                  <div class="col-md-4">
                                      <!--PRICE CONTENT START-->
                                      <div class="generic_content active clearfix wow fixed-fade" data-wow-delay="300ms">

                                          <!--HEAD PRICE DETAIL START-->
                                          <div class="generic_head_price clearfix">

                                              <!--HEAD CONTENT START-->
                                              <div class="generic_head_content clearfix">

                                                  <!--HEAD START-->
                                                  <div class="head_bg"></div>
                                                  <div class="head">
                                                      <span>Standard</span>
                                                  </div>
                                                  <!--//HEAD END-->

                                              </div>
                                              <!--//HEAD CONTENT END-->

                                              <!--PRICE START-->
                                              <div class="generic_price_tag clearfix">
                                                  <span class="price">
                                                              <span class="sign">$</span>
                                                  <span class="currency">199</span>
                                                  <span class="cent">.99</span>
                                                  <span class="month">/MON</span>
                                                  </span>
                                              </div>
                                              <!--//PRICE END-->

                                          </div>
                                          <!--//HEAD PRICE DETAIL END-->

                                          <!--FEATURE LIST START-->
                                          <div class="generic_feature_list">
                                              <ul>
                                                  <li><span>2GB</span> Bandwidth</li>
                                                  <li><span>150GB</span> Storage</li>
                                                  <li><span>12</span> Accounts</li>
                                                  <li><span>7</span> Host Domain</li>
                                                  <li><span>24/7</span> Support</li>
                                              </ul>
                                          </div>
                                          <!--//FEATURE LIST END-->

                                          <!--BUTTON START-->
                                          <div class="generic_price_btn clearfix">
                                              <a class="" href="">Sign up</a>
                                          </div>
                                          <!--//BUTTON END-->

                                      </div>
                                      <!--//PRICE CONTENT END-->
                                  </div>
                                  <div class="col-md-4">
                                      <!--PRICE CONTENT START-->
                                      <div class="generic_content clearfix wow fadeInDown" data-wow-delay="300ms">

                                          <!--HEAD PRICE DETAIL START-->
                                          <div class="generic_head_price clearfix">

                                              <!--HEAD CONTENT START-->
                                              <div class="generic_head_content clearfix">

                                                  <!--HEAD START-->
                                                  <div class="head_bg"></div>
                                                  <div class="head">
                                                      <span>Unlimited</span>
                                                  </div>
                                                  <!--//HEAD END-->

                                              </div>
                                              <!--//HEAD CONTENT END-->

                                              <!--PRICE START-->
                                              <div class="generic_price_tag clearfix">
                                                  <span class="price">
                                                              <span class="sign">$</span>
                                                  <span class="currency">299</span>
                                                  <span class="cent">.99</span>
                                                  <span class="month">/MON</span>
                                                  </span>
                                              </div>
                                              <!--//PRICE END-->

                                          </div>
                                          <!--//HEAD PRICE DETAIL END-->

                                          <!--FEATURE LIST START-->
                                          <div class="generic_feature_list">
                                              <ul>
                                                  <li><span>2GB</span> Bandwidth</li>
                                                  <li><span>150GB</span> Storage</li>
                                                  <li><span>12</span> Accounts</li>
                                                  <li><span>7</span> Host Domain</li>
                                                  <li><span>24/7</span> Support</li>
                                              </ul>
                                          </div>
                                          <!--//FEATURE LIST END-->

                                          <!--BUTTON START-->
                                          <div class="generic_price_btn clearfix">
                                              <a class="" href="">Sign up</a>
                                          </div>
                                          <!--//BUTTON END-->

                                      </div>
                                      <!--//PRICE CONTENT END-->

                                  </div>
                              </div>
                              <!--//BLOCK ROW END-->
                          </div>
                      </section>
                  </div>
              </div>
              <div class="swiper-pagination d-none d-sm-none d-md-none d-lg-block"></div>
          </div>
      </div>
  </div>
</section>
<!-- /Team Section End -->