<section class="sponsors-slider-section background-grey ">
  <div class="container">
    <div class="row">
      <div class=" col-md-12 background-white broder-grey min-height-box">
        <div class="background-white">
          <div class="row">
            <div class="col-md-4">
              <div class='card card-profile text-center'>
                
                <div class='card-block'>
                  
                  <h4 class='card-title'>
                   asdasd
                    
                  </h4>
                  
                </div>
              </div>

            </div>
            <div class="col-md-8 catagory-btn">
              <div class="profile">
                <div class="company-contact-form wow fadeInRight" data-wow-delay="300ms">
                  <form class="contact-form-outer">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-form-textfield padding-bottom-30">
                          <input type="text" placeholder="Your Name" class="form-control paragraph-16">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-form-textfield padding-bottom-30">
                          <input type="email" placeholder="Your Email" class="form-control paragraph-16">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-form-textfield padding-bottom-30">
                          <input type="text" placeholder="Designation" class="form-control paragraph-16">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="contact-form-textfield padding-bottom-30">
                            <input type="text" placeholder="Business Area" class="form-control paragraph-16">
                          </div>
                        </div>
                      <div class="col-md-12">
                        <div class="contact-form-textfield padding-bottom-40">
                          <textarea placeholder="Description" class="form-control paragraph-16"></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a class="button-setting button-setting-primary background-secondary text-color-white width-100 text-center" href="#.">Update</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>