<section class="sponsors-slider-section background-grey ">
  <div class="container">
    <div class="row">
      <div class=" col-md-12 background-white broder-grey min-height-box">
        <div class="background-white">
          <div class="row">
            <div class="col-md-4 app-name text-color-dark font-weight-700 fontface-one">
              <div class='card card-profile text-center'>
                <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
                <div class='card-block'>
                  <img alt='' class='card-img-profile' src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140'>
                  <h4 class='card-title'>
                    Nicola Pressi
                    <small>Front-end designer</small>
                  </h4>
                  <div class='card-links'>
                    <a class='fa fa-dribbble' href='#'></a>
                    <a class='fa fa-twitter' href='#'></a>
                    <a class='fa fa-facebook' href='#'></a>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8 catagory-btn">
              <div class="profile">
                <div class="company-contact-form wow fadeInRight" data-wow-delay="300ms">
                  <form class="contact-form-outer">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-form-textfield padding-bottom-30">
                          <input type="text" placeholder="Your Name" class="form-control paragraph-16">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-form-textfield padding-bottom-30">
                          <input type="email" placeholder="Your Email" class="form-control paragraph-16">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-form-textfield padding-bottom-30">
                          <input type="text" placeholder="Designation" class="form-control paragraph-16">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="contact-form-textfield padding-bottom-30">
                            <input type="text" placeholder="Business Area" class="form-control paragraph-16">
                          </div>
                        </div>
                      <div class="col-md-12">
                        <div class="contact-form-textfield padding-bottom-40">
                          <textarea placeholder="Description" class="form-control paragraph-16"></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a class="button-setting button-setting-primary background-secondary text-color-white width-100 text-center" href="#.">Update</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>