<div class="get-in-touch  padding-top-15">
  <div class="col-md-3 padding-0 bg-white box-shadow min-height-600">
    <div class="my-profile">
      <img src="assets/images/resturent-logo.png" alt="">
      <h2>Avishek Munchi</h2>
      <ul>
        <li>
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i> 9804523216 </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-home" aria-hidden="true"></i> Resturent

          </a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div>
  </div>

  

</div>