<section class="sponsors-slider-section background-grey ">
  <div class="container">
    <div class="row">
      <div class=" col-md-12 background-white broder-grey min-height-box">
        <div class="background-white">
          <div class="row">
            <div class="col-md-3 app-name text-color-dark font-weight-700 fontface-one">
              <h4>App Store</h4>
            </div>
            <div class="col-md-9 catagory-btn">
              <ul>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 1</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 2</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 3</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 4</a>
                </li>

                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 4</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 5</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 1</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 2</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 3</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 4</a>
                </li>

                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 4</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay="400ms">
                  <a href="javascript:void(0)" [routerLink]="['/dashboard/app-store/edit-app', 1]">
                    <img src="assets/images/resturent-btn.png" alt=""> App 5</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>