<section class="privacy-policy">
  <h2>Privacy Policy</h2>
  <p>Protecting your privacy is important to us. We hope the following statement will help you understand how we deals
    with the personal identifiable information ('PII') you may provide to us while regusterting on the Application via
    Internet (the'Google Play'Platform).</p>
  <p>Generally, we only collect the PII like Customer Name, E-mail ID and Mobile Number from you when you register on
    Android/IOS applications.Another situation we may get access to your PII is when you personally decide to email us
    your feedback or to provide us with a bug report. The PII we may get from you in that situation are strictly
    limited to your name, email address ,contact number and your survey response only.</p>
  <p>In above situation, we guarantee that your PII will only be used for contacting you and improving our services. We
    will never use such information (e.g. your name and email address) for any other purposes, such as to further
    market our products, or to disclose your personal information to a third party for commercial gains.</p>
  <p>It should be noted that whether or not to send us your feedback or bug report is a completely voluntary initiative
    upon your own decision. If you have concern about your PII being misused, or if you want further information about
    our privacy policy and what it means, please feel free to email us at <a href="mailto:support@banaoapp.com">support@banaoapp.com</a>, we will endeavor to
    provide clear answers to your questions in a timely manner.</p>
</section>
