<div class="contanner">
  <div class="col-md-12">
    <div class="row" style="padding: 50px 0px 50px 0px;">

      <div class="col-md-6">
        <mat-card>
          <mat-card-title>Item Details</mat-card-title>
          <mat-card-content>
            <div class="col-md-12">
              <!-- <div class="row">    
                  <mat-checkbox  [(ngModel)]="shyamStoreApp" [disabled]="true">
                    <div class="col-md-6"> Shyam app store price</div>
                    <div class="col-md-6" style="text-align: right">Rs. 10.00</div>
                  </mat-checkbox>
              </div> -->
              <div class="row" *ngFor="let item of appList; let i = index;">
                <mat-checkbox [checked]="item.checked" (change)="onChange($event, i, item)" [disabled]="item.setDisabled">
                  <div class="col-md-6"> {{item.appName}} </div>
                  <div class="col-md-6" style="text-align: right">Rs. {{item.price}}</div>
                </mat-checkbox>
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-md-6">Total </div>
                <div class="col-md-6" style="text-align: right">Rs. {{totalPrice.toFixed(2)}} </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card>
          <mat-card-title>Payment Details</mat-card-title>
          <mat-card-content>
            <button class="round-g-btn" (click)="patyamPayments($event)">Click me!</button>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>

<div class="" *ngIf="paymentFormActive">
  <h1>Paytm Payemnt Form</h1>
  <form class="form" method="post" action="https://pguat.paytm.com/oltp-web/processTransaction" name="f1">
    <input type="hidden" value="{{paymentdetails_data.MID}}" name="MID">
    <input type="hidden" value="{{paymentdetails_data.ORDER_ID}}" name="ORDER_ID">
    <input type="hidden" value="{{paymentdetails_data.TXN_AMOUNT}}" name="TXN_AMOUNT">
    <input type="hidden" value="{{paymentdetails_data.CUST_ID}}" name="CUST_ID">
    <input type="hidden" value="{{paymentdetails_data.INDUSTRY_TYPE_ID}}" name="INDUSTRY_TYPE_ID">
    <input type="hidden" value="{{paymentdetails_data.WEBSITE}}" name="WEBSITE">
    <input type="hidden" value="{{paymentdetails_data.CHANNEL_ID}}" name="CHANNEL_ID">
    <input type="hidden" value="{{paymentdetails_data.CALLBACK_URL}}" name="CALLBACK_URL">
    <input type="hidden" value="{{paymentdetails_data.CHECKSUMHASH}}" name="CHECKSUMHASH">
    <input type="submit" name="submit" value="Confirm Payment">
  </form>
</div>