<!-- Page Content -->
<section class="background-pink blog">
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">



                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="date">
                        <span class="cu-date">12</span>
                        <strong>Oct</strong>
                        <span>2018</span>
                    </div>


                    <img class="card-img-top" src="../assets/images/blog3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">Post Title</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis! Lorem Ipsum
                        </p>
                        <ul>
                            <li>is simply dummy text of the printing</li>
                            <li>is simply dummy text of the printing</li>
                            <li>is simply dummy text of the printing</li>
                            <li>is simply dummy text of the printing</li>
                            <li>is simply dummy text of the printing</li>


                        </ul>
                        <p>
                            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                            only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.



                        </p>

                    </div>

                </div>



            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card mb-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card mb-4">
                    <h5 class="card-header">Popular Posts</h5>
                    <div class="card-body ">

                        <div class="recent-blog-recent">
                            <div class="row">

                                <div class="col-md-4"> <img class="card-img-top" src="../assets/images/blog3.jpg" alt="Card image cap"></div>

                                <div class="col-md-8">
                                    <p> desktop publishing software like Aldus .</p>
                                </div>
                            </div>

                        </div>
                        <div class="recent-blog-recent">
                            <div class="row">

                                <div class="col-md-4"> <img class="card-img-top" src="../assets/images/blog3.jpg" alt="Card image cap"></div>

                                <div class="col-md-8">
                                    <p> desktop publishing software like Aldus .</p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <!-- Side Widget -->


            </div>

        </div>
        <!-- /.row -->

    </div>
</section>
<!-- /.container -->