<app-header></app-header>
<!-- Page Content -->
<section class="background-pink blog">
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">



                <!-- Blog Post -->
                <div class="card mb-4 wow fadeInUp" data-wow-delay="350ms" *ngFor="let blogList of allBlogList; let i = index;">
                    <div class="date">
                        <!-- <span class="cu-date">12</span>
                        <strong>Oct</strong>
                        <span>2018</span> -->
                        <span class="cu-date">{{transformDate(blogList.date_created)}}</span>
                    </div>

                    <img class="card-img-top" [src]="blogList.blog_large_image != '' && imageBaseUrl+ blogList.blog_large_image || 'assets/img/no-image.png'" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">{{blogList.blog_title}}</h2>
                        <!-- <p class="card-text" [innerHtml]="blogList.blog_content"></p> -->
                        <p class="card-text">{{blogList.blog_excerpt}}</p>

                      
                        <a href="#" [routerLink]="['/blog/details/'+blogList.blog_url]" class="button-setting background-orange text-color-white button-setting-secondary mat-button">Read More &rarr;</a>
                    </div>
                   
                </div>

                <!-- Pagination -->
                <!-- <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="pagination-msg" *ngIf="allBlogListCount > 0">
                            <p>Showing {{lower_count}} to {{upper_count}} of {{allBlogListCount}}
                                entries</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" pull-right" *ngIf="allBlogListCount > itemPerPage">
                            <ngb-pagination [collectionSize]="allBlogListCount" [pageSize]="itemPerPage" [maxSize]="paginationMaxSize"
                                [(page)]="defaultPagination" (pageChange)="pagination()" size="sm"></ngb-pagination>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card mb-4 wow fadeInUp" data-wow-delay="370ms">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control"   [(ngModel)]="blogname" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" (click)="SearchBlog(blogname)">Go!</button>
                </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card mb-4 wow fadeInUp" data-wow-delay="370ms">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">


                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let catList of allCategoryList; let i = index;">
                                <a href="javascript:void(0)" (click)=getCatwiseBlog(catList.category_slug)>{{catList.category_name}}</a>
                            </li>
                            <!-- <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">Freebies</a>
                            </li> -->
                        </ul>



                    </div>
                </div>

                <!-- Side Widget -->


            </div>

        </div>
        <!-- /.row -->

    </div>
</section>
<!-- /.container -->
<app-footer></app-footer>