<!-- Sposnors Sider Section Start -->
<section class="sponsors-slider-section background-grey padding-top">
  <div class="container">
      <div class="background-white broder-grey min-height-box">

          <div class="row">
              <div class="col-md-4">

                  <ul class="nav icon-apps" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" href="#android-app" role="tab" data-toggle="tab"><i class="fa fa-android"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#ios-app" role="tab" data-toggle="tab"><i class="fa fa-apple"></i></a>
                      </li>

                  </ul>

                  <div class="tab-content">


                      <div role="tabpanel" id="android-app" class="tab-pane active mobo-theme mobo-custom wow fadeInLeft" data-wow-delay="300ms">
                          <img class="img-fluid" src="assets/images/defolt-logo.png" alt="">
                          <span>Shyamfuture tech LLp</span>
                          <div class="busness-image">
                              <img src="assets/images/product-image.jpg" alt="">
                              <img src="assets/images/product-image.jpg" alt="">
                              <img src="assets/images/product-image.jpg" alt="">


                          </div>

                      </div>

                      <div role="tabpanel" id="ios-app" class="tab-pane mobo-theme mobo-custom wow fadeInLeft" data-wow-delay="300ms">
                          <img class="img-fluid" src="images/defolt-logo.png" alt="">
                          <span>Shyamfuture tech LLp</span>
                          <div class="discription">
                              <h3>Description</h3>
                              <p>
                                  Discover Mini Apps of 1000s of Businesses in one Mega App. No need to

                              </p>
                          </div>

                      </div>

                  </div>

              </div>
              <div class="col-lg-8">
                  <div class="company-contact-form wow fadeInRight" data-wow-delay="300ms">
                      <h3 class="text-color-dark font-weight-600 fontface-one padding-bottom-45">Step 5</h3>
                      <form class="contact-form-outer">
                          <div class="row custom-input">



                              <div class="col-md-6">
                                  <label class="lebel-form">Validate 10 Digit Mobile Number:</label>
                                  <div class="contact-form-textfield padding-bottom-30 ">
                                      <input type="text" value="+91" class="form-control paragraph-16">

                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <label class="lebel-form">Your Email Address: </label>
                                  <div class="contact-form-textfield padding-bottom-30 ">
                                      <input type="text" placeholder="shyamfuturetech@gmail.com" class="form-control paragraph-16">

                                  </div>

                              </div>



                              <div class="col-md-4">
                                  <a class="button-setting button-setting-primary background-secondary text-color-white width-100 text-center" href="#.">Conform</a>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>


          </div>


      </div>

  </div>
</section>
<!-- Sponsors Slider Section End -->