<div class="login_modal">
  <a class="modal_close" (click)="modalClose()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </a>
  <h5>Login</h5>
  <form class="login_form" [formGroup]="form" novalidate>
    <div class="full_width">
      <mat-form-field class="example-full-width full_width">
        <input matInput placeholder="User name" class="form-control" formControlName="username" name="username">
        <mat-error *ngIf="form.get('username').touched && form.get('username').hasError('required')">
          User name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="full_width">
      <mat-form-field class="example-full-width full_width">
        <input type="password" matInput class="form-control" placeholder="Password" formControlName="password" name="password">
        <mat-error *ngIf="form.get('password').touched && form.get('password').hasError('required')">
          Password is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button class="btn btn-default" (click)="onSubmit()">Login</button>
    </div>
  </form>
</div>