<div class="login_modal ">

    <a class="close" (click)="modalClose()">×</a>
    <h5 class="text-color-secondary text-center text-transform ">Forgot Password</h5>
    <br>
    <form class="login_form" [formGroup]="form" novalidate *ngIf="!showOtpSection && !newPwdSection">
        <div class="full_width">
            <mat-form-field class="example-full-width full_width">
                <input matInput placeholder="Registerd Mobile Number" formControlName="contact_no" name="contact_no">
                <mat-error *ngIf="form.get('contact_no').touched && form.get('contact_no').hasError('required')">
                    Enter Registerd Mobile Number
                </mat-error>
            </mat-form-field>
        </div>
        <div class="full_width">

            <button mat-button class=" button-setting background-secondary button-setting-primary text-color-white btn btn-default pull-right" (click)="customerForgotPasswordOtp()">Submit</button>
        </div>
    </form>
    <form class="login_form" [formGroup]="otpForm" novalidate *ngIf="showOtpSection && !newPwdSection">
        <div class="full_width">
            <mat-form-field class="example-full-width full_width">
                <input matInput placeholder="OTP" formControlName="otp" name="otp">
                <mat-error *ngIf="otpForm.get('otp').touched && otpForm.get('otp').hasError('required')">
                    Enter Otp
                </mat-error>
            </mat-form-field>
        </div>
        <div class="full_width">
            <a (click)="resendOtp()" href="javascript:void(0)" class=" pull-left text-color-darkgrey font-size-12">Resend OTP</a>
            <button mat-button class=" button-setting background-secondary button-setting-primary text-color-white btn btn-default pull-right" (click)="submitOtp()">Confirm</button>
        </div>
    </form>
    <form class="login_form" [formGroup]="passwordForm" novalidate *ngIf="newPwdSection">
        <div class="full_width">
            <mat-form-field class="example-full-width full_width">
                <input matInput placeholder="Password" formControlName="password" name="password">
                <mat-error *ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('required')">
                    Enter Password
                </mat-error>
            </mat-form-field>
        </div>
        <div class="full_width">
            <mat-form-field class="example-full-width full_width">
                <input matInput placeholder="Confirm Password" class="form-control" formControlName="conf_password" name="conf_password">
                <mat-error *ngIf="passwordForm.get('conf_password').touched && passwordForm.get('conf_password').hasError('required')">
                    Enter Confirm Password
                </mat-error>
            </mat-form-field>
        </div>
        <div class="full_width">
            <button mat-button class=" button-setting background-secondary button-setting-primary text-color-white btn btn-default pull-right" (click)="submitNewPwd()">Submit</button>
        </div>
    </form>
</div>