<app-site-header></app-site-header>
<section class="about-company-section  padding-top-bottom background-pink">
    <div class="container">

        <div class="col-md-12 success-app">
            <mat-card>
                <mat-card-content>
                    <h1>Congratulations! Your app has been successfully created. </h1>
                    <img src="assets/images/lonch.png" data-slide="animated" data-animate="zoomIn">


                    <div class="create-success col-md-6 offset-md-3">
                        <span>You note the details:</span>
                        <ul>
                            <li> App name: <strong>*************</strong> </li>
                            <li> Owner name: <strong>*************</strong> </li>
                            <li> App category: <strong>*************</strong> </li>
                        </ul>

                        <p>
                            Now, enjoy the features and make the most of it! You can also visit Banao.partner App to manage your app and make changes. But before these, here’s your app Download Link:
                        </p>
                        to us on our helpline number *********** for assistance or guidance, any time!
                    </div>


                </mat-card-content>
            </mat-card>
        </div>

    </div>
</section>