<div class="container">
  <div class="row">
    <div class="col-md-6">
      <section class="get-in-touch">
        <h1 class="title">
          <span> your own app</span> Get in 5 Minutes
        </h1>
        <form class="contact-form row">
          <div class="form-field col col-md-12">
            <mat-form-field class="input-full-width">
              <mat-icon matPrefix>phone_android</mat-icon>
              <input matInput placeholder="Your Mobile Number" value="">
            </mat-form-field>
            <p class="btn-switch">
              <mat-slide-toggle></mat-slide-toggle>
            </p>
          </div>
          <div class="form-field col col-md-12">
            <mat-form-field class="input-full-width">
              <mat-icon matPrefix>email</mat-icon>
              <input matInput placeholder="Your Email Address" value="">
            </mat-form-field>
            <p class="btn-switch">
              <mat-slide-toggle></mat-slide-toggle>
            </p>
          </div>
          <div class="form-field col-md-12">
            <div class="row">
              <div class="form-field  align-center col-md-5">
                <input class="round-w-btn" type="submit" value="Back">
              </div>
              <div class="form-field align-center col-md-5">
                <input class="round-g-btn" type="submit" value="Submit">
              </div>
            </div>
          </div>
        </form>
      </section>


      </div>
      <div class="col-md-6 bg-texture">

        <div class="mob">
          <div class="wallpaper-size resturent-screen apps-design padding-10 text-center ">

            <img src="../../../assets/images/resturent-logo.png" alt="">

            <h1>Resto Cafe</h1>
            <div class="description ">
              <span>Mobile Number</span>
              <p>
                9804523216

              </p>
            </div>
            <div class="description ">
              <span>Email Address</span>
              <p>
                shyamfuture@gmail.com

              </p>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>