<!-- <app-step-one></app-step-one> -->
<mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="stepOne">
        <app-step-one></app-step-one>
    </mat-step>
    <mat-step [stepControl]="stepTwo">
        <app-step-two></app-step-two>
    </mat-step>
    <mat-step [stepControl]="stepThree">
        <app-step-three></app-step-three>
    </mat-step>
    <mat-step [stepControl]="stepFour">
        <app-step-four></app-step-four>
    </mat-step>
    <mat-step [stepControl]="stepFive">
        <app-step-register></app-step-register>
    </mat-step>
</mat-horizontal-stepper>