@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700,900');
* {
    font-family: 'Lato', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.full-bg {
    background:url(../images/blue-bg.png) no-repeat right;
}

.mob {
    background: url(../images/phone.png) no-repeat center center;
    height: 694px;
    width: 414px;
    margin: 0 auto;
    padding-top: 124px;
}

.bg-texture {
    background: url(../images/phone-bg.png) no-repeat center center;
    background-size: contain;
}


/* place-holder */

.get-in-touch .contact-form {
    width: 82%;
}

.content-wrapper {
    min-height: 100%;
    position: relative;
}

.get-in-touch {}

.get-in-touch .title {
    text-transform: uppercase;
    font-size: 43px;
    line-height: 43px;
    padding-bottom: 14px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, right top, from(#00aff0), to(#99dff9));
    background-image: linear-gradient(to right, #00aff0, #99dff9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.get-in-touch .title span {
    font-size: 26px;
}

.contact-form .form-field {
    position: relative;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #43a1f2;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    padding-left: 52px;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 60px;
    bottom: 2px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #379fee;
    cursor: text;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.round-g-btn {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
    color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 5px 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 16px;
    cursor: pointer;
    width: 175px;
    border-radius: 28px;
    transition: all .40s ease-out;
}

.round-g-btn:hover {
    border: 1px solid #00aff0;
    background: #fff;
    color: #00aff0;
    transition: all .40s ease;
}

.round-w-btn {
    padding: 5px 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 16px;
    cursor: pointer;
    width: 175px;
    border-radius: 28px;
    border: 1px solid #00aff0;
    background: #fff;
    color: #00aff0;
    transition: all .40s ease-out;
}

.round-w-btn:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
    color: #ffffff;
    border: 1px solid #e6e6e6;
    transition: all .40s ease;
}

.note {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: Lusitana, serif;
    font-size: 16px;
    line-height: 21px;
}

.note .link {
    color: #888;
    text-decoration: none;
}

.note .link:hover {
    text-decoration: underline;
}

.title span {
    display: block;
}


/* radio-button */

.btn-switch {
    font-size: 12px;
    position: absolute;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 36px;
    right: -34px;
    top: 16px;
}

.btn-switch__radio {
    display: none;
}

.btn-switch__label {
    display: inline-block;
    padding: .75em .5em .75em .75em;
    vertical-align: top;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    color: #666;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.btn-switch__label+.btn-switch__label {
    padding-right: .75em;
    padding-left: 0;
}

.btn-switch__txt {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 1.5em;
    opacity: 1;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}

.btn-switch__radio_no:checked~.btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked~.btn-switch__label_no .btn-switch__txt {
    opacity: 0;
}

.btn-switch__label:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f0f0f0;
    border-radius: 1.5em;
    box-shadow: inset 0 .0715em .3572em rgba(43, 43, 43, .05);
    transition: background .2s ease-in-out;
}

.btn-switch__radio_yes:checked~.btn-switch__label:before {
    background: #44a0ef;
}

.btn-switch__label_no:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: .5em;
    bottom: .5em;
    left: .5em;
    width: 2em;
    background: #fff;
    border-radius: 1em;
    pointer-events: none;
    box-shadow: 0 .1429em .2143em rgba(43, 43, 43, .2), 0 .3572em .3572em rgba(43, 43, 43, .1);
    transition: left .2s ease-in-out, background .2s ease-in-out;
}

.btn-switch__radio_yes:checked~.btn-switch__label_no:after {
    left: calc(100% - 2.5em);
    background: #fff;
}

.btn-switch__radio_no:checked~.btn-switch__label_yes:before,
.btn-switch__radio_yes:checked~.btn-switch__label_no:before {
    z-index: 1;
}

.btn-switch__radio_yes:checked~.btn-switch__label_yes {
    color: #fff;
}

.col img {
    position: absolute;
    bottom: 8px;
}

.upload-filed input {
    background: red;
    opacity: 0;
    height: 173px;
    cursor: pointer;
}

.upload-filed {
    background: url(../images/upload-image.jpg) no-repeat left;
    border-radius: 8px;
    padding: 0px;
}

.upload-filed .btn-switch {
    left: 169px;
    width: 70px;
}


/* select-catagory */

.bg-white {
    background: #fff;
}

.box-shadow {
    -webkit-box-shadow: -1px 0px 59px 10px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -1px 0px 59px 10px rgba(0, 0, 0, 0.11);
    box-shadow: -1px 0px 59px 10px rgba(0, 0, 0, 0.11);
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.broder-radius-5 {
    border-radius: 5px;
    ;
}

.select-btn ul li {
    float: left;
    width: 107px;
    height: 75px;
    text-align: center;
    padding-top: 2px;
    transition: transform .2s;
    /* Animation */
    transition: all .40s ease-out;
    border-bottom: 1px solid #fff;
    position: relative;
}

.select-btn ul li:hover img {
    transform: scale(1.1);
    transition: all .40s ease;
}
.selected {
    transform: scale(1.1);
    transition: all .40s ease;
}

.selected::before {
    content: "";
    background: #00aff0;
    height: 2px;
    width: 107px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .40s ease;
}




.select-btn ul li::before {
    content: "";
    background: #f7f5f5;
    height: 2px;
    width: 104px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .40s ease-out;
}

.select-btn ul li:hover ::before {
    content: "";
    background: #00aff0;
    height: 2px;
    width: 107px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .40s ease;
}

.wallpaper-size {
    height: 423px;
    margin: 0 84px;
    background-size: cover;
    border-radius: 8px;
    overflow-y: auto;
}

.wallpaper-screen {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
}

.resturent-screen {
    background: url(../images/resturent-bg.jpg) no-repeat 0 0;
}

.caragory-resturent {
    background: url(../images/resturent-apps-screen.jpg) no-repeat 0 0;
}

.apps-design img {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 92px;
    width: 92px
}

.apps-design h1 {
    color: #fff;
    font-size: 22px;
    margin: 3px auto;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
}

.apps-design .description span {
    background: #ffffff96;
    padding: 4px;
    width: 100%;
    margin: 0 auto;
    float: left;
    font-size: 16px;
    color: #000;
    border-radius: 15px;
    text-transform: uppercase;
}

.apps-design .description p {
    color: #fff;
}

.upload-filed .lebel-form {
    color: #43a1f2;
    border-bottom: 2px solid #43a1f2;
    margin-bottom: 32px;
}

.oner-photo {
    background: url(../images/upload-oner-image.jpg) no-repeat left;
    border-radius: 8px;
    padding: 0px;
}

.profile-page {
    background: url(../images/profile-page.jpg) no-repeat 0 0;
}

.freelink {
    position: absolute;
    font-size: 13px;
}

.freelink a {
    background: #eaeaea;
    padding: 1px 15px;
    border-radius: 10px;
    margin: 4px 3px;
    float: left;
    transition: all .40s ease-out;
}

.freelink a:hover {
    background: #d6d6d6;
    transition: all .40s ease;
}

.freelink a:hover i {
    color: green;
}

.freelink a i {
    font-size: 11px;
    color: #b3b1b1;
}

.busness-photo {
    background: url(../images/upload-oner-image.jpg) no-repeat left;
    border-radius: 8px;
    padding: 0px;
}

.sub-image ul li {
    float: left;
    margin: 6px;
}

.payment-btn {
    position: relative;
}

.btn-check {
    font-size: 12px;
    position: absolute;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 36px;
    left: 12px;
    top: 13px;
}

/************** START MATERIAL CUSTOM CSSS ************/

.input-container {
    display: flex;
    flex-direction: column;
  }
.input-full-width {
    width: 100%;
}

.mat-icon, .mat-form-field-suffix .mat-icon {
    background-image: -webkit-gradient(linear, left top, right top, from(#00aff0), to(#99dff9));
    background-image: linear-gradient(to right, #00aff0, #99dff9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    bottom: -4px;
    position: relative;
    padding-right:30px !important;
}

.mat-form-field-ripple {
   background-color: #00aff0 !important;
}

.mat-focused .mat-form-field-label {
    color: #00aff0 !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #00aff0 !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(0,175,240,.26);
}
.mat-horizontal-stepper-header-container
{
    display: none !important;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
background-color: transparent !important;
}
// .mat-horizontal-content-container {
//     padding: 0 !important;
// }
// .mat-horizontal-stepper-content {
//     overflow: visible !important;
// }

/************** END MATERIAL CUSTOM CSSS ************/